{% extends 'base.html.twig' %}

{% block body %}
    <!doctype html>
    <html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Page personnelle d'Olivier Nocent</title>
    <style>
      body {
          color: #AE562B;
          font-family: sans-serif;
      }

      #portrait {
          float: left;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Page personnelle </h1>
      <p>Etudiant en informatique</p>
    </header>

  </body>
</html>

  {% for i in 0..10 %}
    {{ i  }} hello
  {% endfor %}

  {% set colors = ["red", "blue"] %}

  {% for i in 0..9 %}
    <h1><span style="color:{{ cycle(colors, i) }}">Hello</span> {{ name|capitalize }}!</h1>
  {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

